<h1>{{ todolist.title }}</h1>
{% extends 'index.html' %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block content %}

	<ul>
	{% for item in items %}
	    	<li>
	        	{{ item.description }} - Priority: {{ item.priority }}
	        	<br>
	        	<form action = "/update/{{ item.description }}" method = 'POST'>
					{{ upd_form.hidden_tag() }}
					{{ upd_form.new_priority.label }} {{ upd_form.new_priority() }}
	        		{{ upd_form.submit() }}
	        	</form>
	        	<form action = "/delete_item/{{ item.description }}" method = 'POST'>
	        		{{ del_form.hidden_tag() }}
	        		{{ del_form.delete() }}
	        	</form>
	    	</li>
	{% endfor %}
	</ul>

	<div>
		{% for message in get_flashed_messages() %}
			<strong>*** {{ message }} ***</strong>
		{% endfor %}
	</div>

{% endblock %}
